openapi: 3.0.0
info:
  title: OpenRouter API
  description: The OpenRouter REST API
  version: 1.0.0
servers:
  - url: https://openrouter.ai/api/v1
paths:
  /chat/completions:
    post:
      summary: Creates a model response for the given chat conversation.
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
components:
  schemas:
    CreateChatCompletionRequest:
      type: object
      properties:
        model:
          type: string
          description: ID of the model to use.
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionRequestMessage'
    CreateChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionResponseChoice'
    ChatCompletionRequestMessage:
      type: object
      properties:
        role:
          type: string
          enum: [system, user, assistant]
        content:
          type: string
    ChatCompletionResponseChoice:
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: '#/components/schemas/ChatCompletionRequestMessage'
        finish_reason:
          type: string